#services {
    background: url(../../public/images/service-bg.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    top: 80px;
    height: auto;
    width: 100%;
}

.one div span img {
    width: 50px;
} 


@media screen and (max-width: 576px) {
    .one div {
        margin-bottom: 15px;
    }
    .one div h4{
        font-size: 15px;
        font-weight: 600;
    }
    .one div p{
        font-size: 15px;
        line-height: 23px;
        font-weight: 400;
        margin-top: 5px;
    }
    #bookappointment-box {
        margin-top: 2rem;
        width: 90%;
        margin: 0px auto;
    }
    
}